<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
      <body style="background-color: #162447;">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
                <div class = "navbar-header">
                    <a class ="navbar-brand" href="#">Mine Airlines</a>
                </div>
            </nav>
                <h1 style="color:#E43F5A">About Us</h1>
                <p style="color:#cccf1e">Website created and maintained by: Metic</p>
                <p style="color:#cccf1e">My Number: buy me wine or something first</p>
                <blockquote class="blockquote">
                    <footer class="blockquote-footer">Metic</footer>
                </blockquote>
                <p><input type = "button" value = "Return to main Page" class = "btn btn-danger" onclick="window.location.href='http://127.0.0.1:8000/'"></p> 
        </div>
    </body>
</html>