<!DOCTYPE html>
<html>
    <head>
        <title>Mine Airlines</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
      <body style="background-color: #162447;">
        <p></p>
        <div class="container">
            <h1 style="color:#E43F5A">Welcome to Mine Airlines!</h1>
            <p><input type = "button" class = "btn btn-success" style = "padding: 15px;" value = "Login" onclick="window.location.href='http://127.0.0.1:8000/minesite/'">
            <input type = "button" class = "btn btn-warning" style = "padding: 15px;" value = "Signup" onclick="window.location.href='http://127.0.0.1:8000/minesite/signup'">
            <input type = "button" class = "btn btn-info" style = "padding: 15px;" value = "About Us" onclick="window.location.href='http://127.0.0.1:8000/minesite/aboutus'"></p>
            <h5 style="color:#cccf1e">Thank you for Chooing us!</h5>
        </div>
    </body>
</html>