<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
      <body style="background-color: #162447;">
        <div class = "container">
        <p></p>
        <h1 style="color:#E43F5A;">Booking didn't go through. Please Contact Staff.</h1>
        <input type = "button" value = "Go Back to Home Page" class = "btn btn-info" onclick="window.location.href='http://127.0.0.1:8000/'">
        </div>
    </body>
</html>